.dark-mode {
    background-color: darken($grisOscuro, 10);

    p {
        color: $gris;
    }

    a,h1,h2,h3,h4 {
        color: $gris;
    }

    .main-card {
        .card {
            background-color: $gris;
            box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
            
          }
        h2, a {
            color: $negro; 
        }
        p {
            color: $grisOscuro;
        }
    }    
}