
.icono {
    @include grid(3, 2rem);

    img {
        height: 6rem;   
    }
    p {
        margin: 0;
        text-align: center;
    }

    @include desktop {
        @include grid(4, 2rem);
        img {
            height: 8rem;   
        }
    }

}

.animate__animated.animate__fadeIn {
    animation-duration: 2s;

  }

