
.icono {
    @include grid(3, 2rem);

    img {
        height: 8rem;   
    }
    p {
        margin: 0;
        text-align: center;
    }

}

.animate__animated.animate__fadeIn {
    animation-duration: 2s;

  }

